@font-face {
    font-family: 'SangSangShinb7';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.1/SangSangShinb7.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
    background-color: antiquewhite;
    text-align: center;
}
h1{
    font-family: 'SangSangShinb7';
    color: #D86A66;
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
    font-size: 75px;
    margin-bottom:0;
}
h2{
    font-family: 'SangSangShinb7';
    color: #D86A66;
    font-size: 50px;
    padding: 0px;
    margin: 0px;
}

section{
    margin: 2vh;
}
.date{
    /* padding: 2vh; */
    font-family: 'SangSangShinb7';
    font-size: 30px;
    width: 50vh;
    height: 30px;
    text-align: center;
    background-color: transparent;
    border:transparent;
    cursor:pointer;
}
.button{
    font-family: 'SangSangShinb7';
    border-radius: 50px;
    width: 50vh;
    height: 50px;
    margin:0.6vh;
    font-size: 30px;
}
.white{
    background-color: white;
    border: 1px solid #D86A66;
    color: #D86A66;
    text-align: center;
}
.pink{
    background-color: #D86A66;
    border: 1px solid #D86A66;
    color:white;
}
.startpage{
    display: block;
}
.resultpage{
    display:none;
    margin-top: 75px;
}
hr{
    width: 50vh;
    border-width: 1px 0px 0px 0px;
    height: 1px;
}
/* .img-box{
    display: flex;
    height: 16vh;
    justify-content: center;
}
*/
label{
    width: 15vh;
    height: 15vh;
}
.gender-img{
    display: flex;
    justify-content: center;
    height: 15vh;
}
.girl-img{
    content:url(img/girl.PNG);
    /* height:100px; */
    width: 14vh;
} 
.boy-img{
    content:url(img/boy.PNG);
    /* height:100px; */
    width: 14vh;
} 
.weather-img{
    display: flex;
    justify-content: center;
    height: 15vh;
}
.sunny-img{
    content: url(img/sunny-uncheck.png);
    width: 14vh;
    /* background-image: url(img/sunny-uncheck.png);
    background-size: 14vh 16vh;
    width: 14vh;
    height: 16vh; */
}
.cloudy-img{
    content: url(img/cloudy-uncheck.png);
    width: 13vh;
}
.rain-img{
    content: url(img/rain-uncheck.png);
    width: 13vh;
}
.snow-img{
    content: url(img/snow-uncheck.png);
    width: 13vh;
}

.resultimage{
    width:50vh;
}
#resultdate{
    font-family: 'SangSangShinb7';
    margin: 0px;
    font-size: 30px;
}
#resultname{
    font-family: 'SangSangShinb7';
    color: #D86A66;
    font-size: 50px;
}
#comment{
    font-family: 'SangSangShinb7';
    font-size: 40px;
}
[type=checkbox] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}
[type=checkbox] + div {
    cursor: pointer;
}
[type=checkbox]:checked + div {
    width:15vh;
    height:auto;
}
