@font-face {
    font-family: 'SangSangShinb7';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.1/SangSangShinb7.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
    background-color: antiquewhite;
    text-align: center;
}
h1{
    font-family: 'SangSangShinb7';
    color: #D86A66;
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
    font-size: 60px;
    margin-bottom:0;
}
h2{
    font-family: 'SangSangShinb7';
    color: #D86A66;
    font-size: 40px;
    padding: 0px;
    margin: 0px;
}
p{
    font-family: 'SangSangShinb7';
    font-size: 30px;
    margin: 0.3em;
}
section{
    margin: 2vh;
}
.date{
    font-family: 'SangSangShinb7';
    color:black;
    font-size: 30px;
    width: 40vh;
    height: 4vh;
    text-align: center;
    background-color: transparent;
    border:transparent;
    cursor:pointer;
}
.button{
    font-family: 'SangSangShinb7';
    border-radius: 100px;
    width: 35vh;
    height: 6vh;
    margin:0.6vh;
    font-size: 30px;
}
.white{
    background-color: white;
    border: 1px solid #D86A66;
    color: #D86A66;
    text-align: center;
}
.pink{
    background-color: #D86A66;
    border: 1px solid #D86A66;
    color:white;
    text-align: center;
}
.startpage{
    /* display:flex; justify-content: center; align-items: center; */
    display: block;
    text-align: center;

}
.resultpage{
    display:none;
    /* margin-top: 75px; */
    justify-content: center;

}
hr{
    width: 40vh;
    border-width: 1px 0px 0px 0px;
    height: 1px;
}
.gender-img{
    display: flex;
    justify-content: center;
    height: 15vh;
}
.girl-img{
    content:url(img/girl.PNG);
    width: 14vh;
} 
.boy-img{
    content:url(img/boy.PNG);
    width: 14vh;
} 
.weather-img{
    display: flex;
    justify-content: center;
}
.sunny-img{
    content: url(img/sunny-uncheck.png);
    width: 12vh;

}
.cloudy-img{
    content: url(img/cloudy-uncheck.png);
    width: 11vh;
}
.rain-img{
    content: url(img/rain-uncheck.png);
    width: 11vh;
}
.snow-img{
    content: url(img/snow-uncheck.png);
    width: 11vh;
}

.resultimage{
    width:35vh;
}
#resultdate{
    font-family: 'SangSangShinb7';
    margin: 0px;
    font-size: 30px;
}
#resultname{
    font-family: 'SangSangShinb7';
    color: #D86A66;
    font-size: 50px;
}
#comment{
    font-family: 'SangSangShinb7';
    font-size: 40px;
    margin: -2vh;
}
[type=checkbox] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}
[type=checkbox] + div {
    cursor: pointer;
}
[type=checkbox]:checked + .girl-img {
    width:15vh;
    height:auto;
}
[type=checkbox]:checked + .boy-img {
    width:15vh;
    height:auto;
}

[type=checkbox]:checked + .sunny-img{
    width:13vh;
    content: url(img/sunny-check.png);
    height:auto;
}
[type=checkbox]:checked + .cloudy-img{
    width:13vh;
    content: url(img/cloudy-check.png);
    height:auto;
}
[type=checkbox]:checked + .rain-img{
    width:13vh;
    content: url(img/rain-check.png);
    height:auto;
}
[type=checkbox]:checked + .snow-img{
    width:13vh;
    content: url(img/snow-check.png);
    height:auto;
}
.gender-box{
    width:15vh;
    height: 15vh;
}
.weather-box{
    width:13vh;
    height: 13vh;
}